{% extends "auctions/layout.html" %}
{% block body %}
<div class="container">
     <h2 style="text-align: center;font-family: Times New Roman"><b>{{i.title}}</b></h2>
     <div class="container" style="text-align: center;">
        <img src="{{i.image}}" width="30%" alt="...">
    </div>


    {% if error %}
       <div class="alert alert-danger " role="alert">
        {{error}}
       </div>
       {% endif %}
    {% if errorgreen %}
       <div class="alert alert-success" role="alert">
        {{errorgreen}}
       </div>
    {% endif %}<br>
    


   
     <ul>
      <li><b>Description: </b>{{i.description}}</li>
        <li><b>Created By:</b>{{i.owner}}</li>        
        <li><b>Created On:</b>{{i.date}}</li>
        <li><b>Category:</b>{{i.category}}</li>
     </ul>



    {% if user.username %}     
      {% if added %}
      <a href="{% url 'watchDel' i.id %}"><button class="btn btn-secondary">Remove from watchlist</button></a>
      {% else %}
      <a href="{% url 'watchAdd' i.id %}"><button class="btn btn-success">Add to watchlist</button></a>
      {% endif %}
      {% if owner %}    
      <a href="{% url 'closeBid' i.id %}"><button class="btn btn-info">Close Bid</button></a>
      <br>
      {% endif %}    
      <br>
    {% endif %}


    <h3><b>Current Bid: </b>$ {{i.startBid}}</h3><br>
    
   
    
    
{% if user.username %}
    <div class="container">
        <label><b>Do you want to place Bid for this item ?</b></label>
        <form action="{% url 'submitBid' i.id %}" method="POST">
            {% csrf_token %}
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <input type="number" class="form-control mb-2" id="bid" name="bid" placeholder="Enter your bid ">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
              </div>
        </form>
    </div>
    <br>



    <div class="container">
      <form action="{% url 'submitComment' i.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="comment"><b>Write a comment:</b></label>
          <textarea class="form-control" id="comment" rows="3" name="comment" placeholder="Leave a comment" required></textarea>
        </div>
        <button class="btn btn-dark" type="submit">Submit</button>
      </form>
    </div>
    <br>
{% endif %}





  {% if comments %}
    <h3>Comments:</h3>
    <div class="container">
          
          {% for i in comments %}
          <div class="card " style="max-width: 540px; color: white">
            <div class="row no-gutters">              
                <div class="card-body">
                  <h5 class="card-title"><b>{{i.user}} :</b></h5>
                  <p class="card-text">{{i.comment}}</p>
                 <small >{{i.time}}</small>
                </div>             
            </div>
          </div><br/>
          {% endfor %}           
    </div>
  {% endif %}





</div>
{% endblock %}