{% extends "auctions/layout.html" %}

{% block body %}

    <h2 style="text-align: center;font-family: Times New Roman"><b>{{cat}}</b></h2>


<div class="container" id="listings">
    {% for i in items %}
   
<center>

  <div class="card border-primary mb-5" style="width: 25rem;background-color: white;color: white">
    <img class="card-img-top" alt="..." src={{i.image}} >
            <div class="card-body" style="text-align: center">
                <h4 class="card-title" ><b>{{i.title}}</b></h4>
                 <h6 class="card-text">Bid: ${{i.startBid}}</h6>
                <h6 class="card-text">Category: {{i.category}}</h6>
                <h6 class="card-text">Description: {{i.descripion}}</b></h4>
                
                <label style="font-size:smaller;color: gray">Created on {{i.date}}</label>              
            </div>
            <div class="card-footer" style="background-color: lightgray;text-align: center;">
                <a href="{% url 'ActiveListing' i.id %}" class="card-link">Go to the item</a>
            </div>
        </div>


{%endfor%}

 </center>
</div>
{% endblock %}



