
{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="text-align: center;font-family: Times New Roman"><b>Active Listings</b></h2>
    
{% for data in items%}
<center>

  <div class="card border-primary mb-5" style="width: 25rem;background-color: white;color: white">
    <img class="card-img-top" alt="..." src={{data.image}} >
            <div class="card-body" style="text-align: center">
                <h4 class="card-title" ><b>{{data.title}}</b></h4>
                 <h6 class="card-text">Bid: ${{data.startBid}}</h6>
                <h6 class="card-text">Category: {{data.category}}</h6>
                <h6 class="card-text">Description: {{data.description}}</h6> 
                <label style="font-size:smaller;color: gray">Created on {{data.date}}</label><br/> 
                 <label style="font-size:smaller;color: gray">Created By: {{data.owner}}</label>              
            </div>
            <div class="card-footer" style="background-color: lightgray;text-align: center;">
                <a href="{%url 'ActiveListing' data.id %}" class="card-link">Go to the item</a>
            </div>
        </div>

{%empty%}
<br/>
<center>...No item for auction...</center>
{%endfor%}

 </center>


 
{% endblock %}