{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2 style="text-align: center;font-family: Times New Roman"><b>Watchlist</b></h2>
  
</div>
<center>
<div class="container" id="ActiveListing">
    {% for item in items %}
    {% for i in item %}
    <div class="card mb-3" style="max-width: 540px; color:white" id="card-listings">
      <img class="card-img-top" alt="..." src={{i.image}} >
       
          
          
            <div class="card-body" style="text-align: center;">              
              <h4 class="card-title"><b>{{i.title}}</b></h4>
              <h6 class="card-text">Description: {{i.description}}</h6>
              <h6 class="card-text">Bid: $ {{i.startBid}}</h6>
              <h6 class="card-text">Category: {{i.category}}</h6>
              <label style="font-size:smaller;color: gray">Created on {{i.date}}</label><br/> 
                 <label style="font-size:smaller;color: gray">Created By: {{i.owner}}</label> <br/>
              
              <a href="{% url 'ActiveListing' i.id %}">Go to the item</a>  </div>                   
        
      </div>

      {% endfor %}
      {% empty %}
      <br/>
       <div class="alert alert-warning" role="alert">
       No items in your watchlist
      </div>
      {% endfor %}
</div>
</center>
{% endblock %}


